<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="DirectoryPath" value="C:\Users\t-ripate\Desktop\Drawiz\msagl\new"/>
    </appSettings>
</configuration>